body {
    background-image: url("assets/background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS';
}
header {
    padding: 5px;
    background-color:rgba(100, 131, 46, 1);
    text-align: center;
}

/*HEADER AND SCORE*/
.header_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 100px auto 100px;
    align-items: center;
    gap: 1%;
}
#game_title {
    font-size: 30px;
    margin: 0;
    color: white;
}
#game_desc {
    margin: 0;
    color: white;
}
#highscore {
    margin: 0;
    color: white;
}
.social_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fa {
    text-decoration: none;
}
.fa-instagram {
    color: rgb(255, 123, 0);
}
#score_num {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
}

/*AUDIO AND RESULTS*/
.audio_player {
    width: 40%;
    min-width: 350px;
}
.audio-results-wrapper {
    display: grid;
}
#waveform {
    padding: 10px;
    z-index: 0;
    grid-area: 1 / 1;
}
#result_overlay {
    padding: 10px;
    background-color: rgba(162, 197, 100, 0.75);
    z-index: 100;
    grid-area: 1 / 1;
    visibility: hidden;
}
#revealed_city_name {
    position: absolute;
}

#audio_control {
    position: relative;
    display: flex;
    /*height: 55px; determines position of two sides*/
}
#play_button {
    position: relative;
    vertical-align: middle;
    top: 10px;
}
#play_button:hover {
    filter: brightness(0.8);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
#volume_icon {
    cursor: pointer;
    position: relative;
    top: 7px;
}
.slider {
    /*remove default*/
    -webkit-appearance: none;
    appearance: none;
    /*own custom*/
    width: 40%;
    cursor: pointer;
    height: 10px;
    background: #000000;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
    top: 25px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #333;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #333;
}

/*MAP*/
.map_container {
    width: 40%;
    min-width: 350px;
}
#map {
    height: 700px;
}

/*ACTION BUTTONS*/
.button_style {
    background-color: rgba(100, 131, 46, 1);
    color: white;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS';
    min-width: 150px; /*to prevent the length of the text from determining the width*/
}
.button_style:hover {
    background-color: rgb(75, 99, 35);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
#map_buttons {
    text-align: center;
}
#new_game_button {
    background-color: rgb(59, 78, 28);
}

/*RESULTS POPUP*/
#results_popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding-top: 300px;
    background-color: rgb(0,0,0, 0.4);
}
#results_content {
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    background-color: skyblue;
}
#close_btn {
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}