body {
    background-image: url("assets/background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS';
}
header {
    padding: 5px;
    background-color:rgba(100, 131, 46, 1);
    text-align: center;
}

/*HEADER AND SCORE*/
#game_title {
    font-size: 30px;
    margin: 0;
    padding: 5px;
    color: white;
}
#game_desc {
    margin: 0;
    padding: 5px;
    color: white;
}
#highscore {
    position: absolute;
    margin: 0;
    padding: 5px;
    top: 10px;
    right: 10px;
    color: white;
}
#score_num {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

/*AUDIO AND RESULTS*/
.audio_player {
    display: grid;

}
#waveform {
    padding: 10px;
    z-index: 0;
    grid-area: 1 / 1;
}
#result_overlay {
    padding: 10px;
    background-color: rgba(162, 197, 100, 0.75);
    z-index: 100;
    grid-area: 1 / 1;
}
#revealed_city_name {
    position: absolute;
}
#volume_icon {
    cursor: pointer;
    position: relative;
    top: 10px;
}
.slider {
    /*remove default*/
    -webkit-appearance: none;
    appearance: none;
    /*own custom*/
    width: 40%;
    cursor: pointer;
    height: 10px;
    background: #000000;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 10px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #333;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #333;
}
#play_button {
    position: relative;
    top: 10px;
}
#play_button:hover {
    filter: brightness(0.8);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

/*MAP*/
.map_container {
    width: 50%;
}
#map {
    width: 700px;
    height: 720px;
    float: right;
}

/*ACTION BUTTONS*/
.button_style {
    background-color: rgba(100, 131, 46, 1);
    color: white;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS';
}
.button_style:hover {
    background-color: rgb(75, 99, 35);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}
#map_buttons {
    float: right;
}